.conversionResult{
    width: 180px;
    height:110px;
    text-align:center;
    /*float: right;*/
    display:inline-flex;
    flex-direction:column;
    /*padding-top:5px;*/
    /*vertical-align: top;*/
}

.conversionResult > div {
    flex-grow:1;
    line-height:55px;
}