.conversionResult{
    width: 180px;
    height:110px;
    text-align:center;
    float: right;
    display:flex;
    flex-direction:column;
    padding-top:5px;
}

.conversionResult > div {
    flex-grow:1;
}