.CountryStrip  {
    /*position: absolute;*/
    /*top: 0;*/
    /*margin-top: -500px;*/
    /*left: 0;*/
    /*right: 0;*/
    /*height: 200px;*/
    height:100%;
}
.Countrystrip-flow.montage-Flow {
    position: initial;
    display: inline-block;
    height: 100%;
    width: 100%;
    margin-top:-20px;
}

.Countrystrip-flow > .montage-Flow-camera {
    position:inherit;
}
.Countrystrip-flow .montage-Flow-Repetition {
    /*position:inherit;*/
   /* opacity: 1;
    position:absolute;
    top:40%;
    left:0;
    right:0;
    bottom:initial;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s;*/
}
.Countrystrip-flow.is-hidden .montage-Flow-Repetition {
    /*opacity: 0;*/
}
.montage-Flow-Slot {
  /*  -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;*/
}